@import 'bootstrap';
@import 'bootstrap-icons';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --arancio: #E36414;
    --blu: #0F4C5C;
    --panna: #FCF6EB;
    --azzuro: #048BA8;
    --bianco: #FFFCF7;
}

.bg-body-arancio    {
    background-color: var(--arancio);
}

.bg-body-panna  {
    background-color: var(--panna);
}

.btn-azzuro {
    background-color: var(--azzuro);
}

.fc-bianco  {
    color: var(--bianco);
}

.clr-text-blu{
    color: var(--blu);
}

a{
    text-decoration: none;
}


/* Hover Session */
.fc-bianco:hover    {
    color: var(--bianco);
}

/* button */
button{
    color: white;
    background-color: var(--azzuro);
    border-radius: 7px;
    padding: 0.5% 3% 0.5% 3%;
    border: none;
}

button a {
    color: white;
}

/* navbar */
.dropdown-menu{
    --bs-dropdown-min-width: 5rem;
}


/* homepage */

/* search bar */
.search-box{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.search-box input{
    width: 50%;
    margin: 0px 15px;
    border-color: #676767;
    border-radius: 20px;
}


.search-box i{
    color: var(--blu);
    font-size: 24px;
    
}

/* categories */
/* .select-categories{
    display: none;
}

.categories-box{
    width: 60%;
}

.categories-home{
    margin-top: 5%;
}

*/
.categories-items{
    width: 180px;
    height: 90px;
    border-radius: 15px;
    padding: 0;
}

.item-1{
    background-color: rgb(228, 118, 120);
    border: 2px dashed rgb(228, 118, 120);
    }
.item-1:hover{
        transition: .4s;
        border: 2px dashed rgb(228, 118, 120);
        background-color: #fff;
        color: rgb(228, 118, 120);
    }
.item-2{
    background-color: rgb(214, 187, 124);
    border: 2px dashed rgb(214, 187, 124);
    }
.item-2:hover{
        transition: .4s;
        border: 2px dashed rgb(214, 187, 124);
        background-color: #fff;
        color: rgb(214, 187, 124);
    }
.item-3{
    background-color: rgb(170, 145, 223);
    border: 2px dashed rgb(170, 145, 223);
    }
.item-3:hover{
        transition: .4s;
        border: 2px dashed rgb(170, 145, 223);
        background-color: #fff;
        color: rgb(170, 145, 223);
    }
.item-4{
    background-color: rgb(131, 205, 196);
    border: 2px dashed rgb(131, 205, 196);
    }
.item-4:hover{
        transition: .4s;
        border: 2px dashed rgb(131, 205, 196);
        background-color: #fff;
        color: rgb(131, 205, 196);
    }
    
   
   

/* Section Cards */


/* .card-radius   {
    border-radius: 5px 55px 5px 5px;
}

.card-posted    {
    margin-top: 25px;
    margin-bottom: 0;
} */


/* End Section Cards */


/* Section Login */

.section-split input[type=text],
.section-split input[type=email],
.section-split input[type=password] {
   display: block;
   width: 100%;
   height: 40px;
   border: 0;
   background: transparent;
   border-bottom: 1px solid #ccc;
   outline: 0;
   margin-top: 10px;
}

.section-split input[type=password] {
    margin-bottom: 15px;
}

.large  {
    padding: 15px 50px;
}

.fz-large   {
    font-size: 70px;
}

/* End Section Login */













/* card annunci in primo piano */

.card-container{
        width: 100%;
        background-color: red;
        border: 1px #353535;
    }

/* .card-box{
    box-shadow:0px 10px 13px -7px #000000;
    background-color: var(--bianco);
    width: 15rem;
    height: 25rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.card-img{
    border-radius: 25px;
    padding: 1rem;
}

.card-text-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

}

.card-text-box h3{
    font-weight: 700;
    color: #0F4C5C;
    font-size: 1.8rem;
}

.price{
    color: red;
    font-weight: 700;
    font-size: 1.2rem;
}

.card-box p{
    font-size: 1.2rem;
    margin-left: 1.2rem;
} */

@media (max-width:576px) {
/* barra di ricerca */
.search-box{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.search-box input{
    width: 80%;
    margin: 0px 15px;
    border-color: rgba(103, 103, 103, 0.4);
    border-radius: 20px;
}

/* categorie */
    .categories-box{
        width: 90%;
        padding-top:10px;

    }
    .categories-items{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;


    }
    .categories-items a{
        color: var(--blu);
        font-size: 14px;
        font-weight: 700;
        margin-top: 10px;

    }
    .categories-items i{
        color: var(--blu);
        font-size: 24px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 30px;
    }

    .categories-box:last-child{
        margin-right: 2px;

    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile .fz-large   {
        font-size: 50px;
    }

    .section-split input[type=text],
    .section-split input[type=email],
    .section-split input[type=password] {
        width: 100%;
    }

    input::placeholder  {
        font-size: 10px;
    }

    .small  {
        width: 75%;
    }


    /* card */
    
    .card-container{
        width: 100%;
        background-color: red;
        border: 1px #353535;
    }
    
}


@media(max-width:768px){
    .categories-home{
        display: none;
    }

    .select-categories{
        display: flex;
        justify-content: flex-start;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .select-categories select{
        width: 292px;
        height: 36px;
        margin-left: 37px;
        border-color: #676767;
        border-radius: 20px;
        padding: 5px;
    }

    
}