@import 'bootstrap';
@import 'bootstrap-icons';
@import 'navbar.css';
@import 'login.css';
@import 'footer.css';
@import 'card.css';
@import 'buyandsell.css';
@import 'search.css';
@import 'categories';
@import 'show';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --arancio: #E36414;
    --blu: #0F4C5C;
    --panna: #FCF6EB;
    --azzuro: #048BA8;
    --bianco: #ffffff;
    --salmone: #e47678;
    --bronzo: #d6bb7c;
    --viola: #aa91df;
    --acquamarina: #83cdc4;
    --grigio: #ccc;

    --shadow: #acacac;
    --dark-shadow: #474747;

    --black-border: #353535;
    --gray-border: #676767;
}

.bg-body-arancio    {
    background-color: var(--arancio);
}

.bg-shadow  {
    box-shadow: 0px 0px 30px 0px var(--shadow);
}

.bg-body-panna  {
    background-color: var(--panna);
}

.btn-azzuro {
    background-color: var(--azzuro);
}

.fc-bianco  {
    color: var(--bianco);
}


.clr-text-blu{
    color: var(--blu);
}

a{
    text-decoration: none;
}

.m-top  {
    margin-top: 4.5rem;
}

.mt-announce    {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

/* button */
button{
    color: var(--bianco);
    background-color: var(--azzuro);
    border-radius: 7px;
    padding: 0.5% 3% 0.5% 3%;
    border: none;
}

button a {
    color: var(--bianco);
}


/* Hover Session */
.fc-bianco:hover    {
    color: var(--bianco);
}



@media(min-width: 768px) and (max-width: 1400px)   {

    .card-create    {
        width: 100vw;
        margin-top: 10rem;
        border-radius: 25px;
    }

    .card-announcements {
        width: 100vw;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0;
        border-radius: 25px;
    }

    .btn-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bottom  {
        margin-bottom: 10px;
    }

    .mt-announce    {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }
}

@media(max-width:768px){

    .search-box{
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        width: 90vw;
        height: 250px;
        margin-top: 90px;
        background-color: var(--bianco);
        border-radius: 15px ;
        box-shadow: 0px 10px 20px -7px var(--shadow);
    }

    .search-box form{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-around;

    }

    .search-input{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .search-input select{
        margin:0;
        width: 100%;
        height: 36px;
        border-radius: 30px;

    }
    .search-input label{
        margin-top: 2%;
    }
    .search-input input{
        border: 1px solid var(--black-border);
        border-radius: 30px;
        height:36px;
    }
    .search-input input::placeholder{
        font-size: 16px;
        padding-left: 10px;
    }
    .select-categories{
        margin-bottom: 20px;
        width: 100%;
    }

    .search-button{
        border-radius: 30px;
        padding: 10px 20px ;
    }



    .section-split input[type=text],
    .section-split input[type=email],
    .section-split input[type=password] {
        width: 100%;
    }

    .categories-home{
        display: none;
    }

    /* buy sell */
    .buy-sell{
        margin: 0;
    }

    .buy-sell>div{
        display: flex;
        flex-direction: row;
    }

    .box-buy-sell{
        border-radius: 10px;
        padding: 0px 16px 20px;
        width: 33%;
        margin: 0!important;
    }

    .select-categories{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5%;
    }

    .img-register   {
        display: none;
    }

    .card-body   {
        display: flex;
        justify-content: center;
        align-items: space-evenly;
    }

    .card-create    {
        width: 100vw;
        margin-top: 10rem;
        border-radius: 25px;
    }

    .card-announcements {
        width: 100vw;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0;
        border-radius: 25px;
    }

    .btn-container  {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom  {
        margin-bottom: 10px;
    }

    .mt-announce    {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }

    .footer-content-container   {
        display: flex;
        justify-content: center;
        margin: auto;
    }

}

@media (max-width:576px) {
    /* barra di ricerca */
    .search-box{
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        width: 90vw;
        height: 230px;
        margin-top: 90px;
        background-color: var(--bianco);
        border-radius: 15px ;
        box-shadow: 0px 10px 20px -7px var(--shadow);
    }

    .search-box form{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-around;

    }

    .search-input{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .search-input select{
        margin:0;
        width: 100%;
    }

    .search-input input{
        border: 1px solid var(--black-border);
        border-radius: 30px;
        height:36px;
        margin:5px 0px 5px 0px;
    }
    .search-input input::placeholder{
        font-size: large;
        padding-left: 10px;
    }
    .select-categories{
        margin:10px 0px 10px 0px;
    }

    .search-button{
        border-radius: 30px;
        padding: 10px 20px ;
    }

    /* categorie */
    .categories-box{
         width: 90%;
        padding-top:10px;

    }
    .categories-items{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;
    }
        .categories-items a{
            color: var(--blu);
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;

    }
    .categories-items i{
            color: var(--blu);
            font-size: 24px;
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 30px;
    }

    .categories-box:last-child{
            margin-right: 2px;

    }

    .mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
    }

    .mobile .fz-large   {
            font-size: 50px;
    }

    .section-split input[type=text],
    .section-split input[type=email],
    .section-split input[type=password] {
            width: 100%;
    }

    input::placeholder  {
            font-size: 10px;
    }


        /* Compra e vendi */
    .buy-sell{
            margin: 0;
    }

    .buy-sell>div{
            display: flex;
            flex-direction: column;
    }

    .box-buy-sell{
            border-radius: 10px;
            padding: 0px 16px 20px;
            width: 90%;
            margin: 0!important;
    }

        /* card */
    .card-announcement{
            flex-direction: column;
    }

    .card-announcement-img{
            width: 330px;
            height: auto;
        }
}
