/* .card-announcement{
    width: 100%;
    height: 70%;
    background-color: var(--bianco);
    box-shadow: 0px 10px 20px -7px var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto 20px auto;
    transition-duration: .2s;
    transition-delay: 0.1s;
    border-radius: 5px;
}
.a-card{

}
.card-img-box{
    width: 30%;
    height: 100%;
    display: flex;
}

.card-announcement:hover{
    width: 100%;
    transition-duration: .2s;
    transition-delay: 0.1s;
}

.card-announcement-img{
    width: 100%;
    height: auto;
    margin: 10px;
    object-fit:cover;
}

.card-announcement-text-box{
    display:flex;
    align-content: flex-end;
    flex-direction: column;
    width: 70%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 10px;
    margin-left: auto;

}

.card-announcement-text-box h3{
    font-weight: 700;
    color: #0F4C5C;
    font-size: 1.8rem;
}

.card-announcement-text-box span{
    color: var(--arancio);
    font-weight: 700;
    font-size: 20px;
}
.category-a{
    color: var(--shadow);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}
.card-announcement-text-box .last-update{
    font-size: 12px;
    font-weight: 400;s
    color: var(--shadow);
    margin-top: 40px;
}
.card-announcement-text-box p{
    font-size: 16PX;
    margin-top: 10px;
    margin-bottom: 20px;
}
  */


.card-announcement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    height: 280px;
    background-color: var(--bianco);
    box-shadow: 0px 10px 20px -7px var(--shadow);
    transition-duration: .2s;
    transition-delay: 0.1s;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    transition-duration: .2s;
    transition-delay: 0.1s;
    z-index: 0;
}
.card-announcement:hover{
    width: 100%;
    transition-duration: .2s;
    transition-delay: 0.1s;
}
.card-img-box{
    width: 30%;
    height: 100%;
    padding: 5px;

}

.card-img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}
.card-announcement-text-box{
    width: 70%;
    height: auto;
    padding: 5px 15px;


}
.a1-card{
    width: fit-content!important;
    /* background-color: red; */
}
.announcement-category{
    color: var(--shadow);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    z-index: 100;
}
.announcement-title{
    font-weight: 700;
    color: #0F4C5C;
    font-size: 1.8rem;
}
.announcement-price{
    color: var(--arancio);
    font-weight: 700;
    font-size: 20px;
}
.announcement-descr{
    font-size: 16PX;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #353535;
}
.last-update{
    margin-top: 90px;
    font-size: 12px;
    font-weight: 400;
    color: var(--shadow);
}
