.card-announcement{
    width: 98%;
    height: 70%;
    background-color: var(--bianco);
    border-radius: 15px;
    box-shadow: 0px 10px 20px -7px var(--shadow);
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px auto;
    transition-duration: .2s;
    transition-delay: 0.1s;
}

.card-announcement:hover{
    width: 100%;
    transition-duration: .2s;
    transition-delay: 0.1s;
}

.card-announcement-img{
    width: auto;
    height: 210px;
    margin: 1rem;
    object-fit:fill;
}

.card-announcement-text-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 10px;

}

.card-announcement-text-box h3{
    font-weight: 700;
    color: #0F4C5C;
    font-size: 1.8rem;
}

.card-announcement-text-box span{
    color: var(--arancio);
    font-weight: 700;
    font-size: 20px;
}
.category-a{
    color: var(--shadow);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}
.card-announcement-text-box .last-update{
    font-size: 12px;
    font-weight: 400;
    color: var(--shadow);
}
.card-announcement-text-box p{
    font-size: 16PX;
    margin-top: 10px;
    margin-bottom: 20px;
}

