.categories-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.categories-container   {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.categories-items{
    width: 180px;
    height: 90px;
    border-radius: 7px;
    padding: 0;
    box-shadow: 0px 10px 20px -7px var(--shadow);
    border-radius: 5px;
}

.item-1{
    background-color: var(--salmone);
    border: 2px dashed var(--salmone);
    }
.item-1:hover{
        transition: .4s;
        border: 2px dashed var(--salmone);
        background-color: var(--bianco);
        color: var(--salmone);
    }
.item-2{
    background-color: var(--bronzo);
    border: 2px dashed var(--bronzo);
    }
.item-2:hover{
        transition: .4s;
        border: 2px dashed var(--bronzo);
        background-color: var(--bianco);
        color: var(--bronzo);
    }
.item-3{
    background-color: var(--viola);
    border: 2px dashed var(--viola);
    }
.item-3:hover{
        transition: .4s;
        border: 2px dashed var(--viola);
        background-color: var(--bianco);
        color: var(--viola);
    }
.item-4{
    background-color: var(--acquamarina);
    border: 2px dashed var(--acquamarina);
    }
.item-4:hover{
        transition: .4s;
        border: 2px dashed var(--acquamarina);
        background-color: var(--bianco);
        color: var(--acquamarina);
    }

    .item-5{
        background-color: var(--arancio-chiaro);
        border: 2px dashed var(--arancio-chiaro);
        }
    .item-5:hover{
            transition: .4s;
            border: 2px dashed var(--arancio-chiaro);
            background-color: var(--bianco);
            color: var(--arancio-chiaro);
        }
