.categories-items{
    width: 180px;
    height: 90px;
    border-radius: 15px;
    padding: 0;
}

.item-1{
    background-color: rgb(228, 118, 120);
    border: 2px dashed rgb(228, 118, 120);
    }
.item-1:hover{
        transition: .4s;
        border: 2px dashed rgb(228, 118, 120);
        background-color: #fff;
        color: rgb(228, 118, 120);
    }
.item-2{
    background-color: rgb(214, 187, 124);
    border: 2px dashed rgb(214, 187, 124);
    }
.item-2:hover{
        transition: .4s;
        border: 2px dashed rgb(214, 187, 124);
        background-color: #fff;
        color: rgb(214, 187, 124);
    }
.item-3{
    background-color: rgb(170, 145, 223);
    border: 2px dashed rgb(170, 145, 223);
    }
.item-3:hover{
        transition: .4s;
        border: 2px dashed rgb(170, 145, 223);
        background-color: #fff;
        color: rgb(170, 145, 223);
    }
.item-4{
    background-color: rgb(131, 205, 196);
    border: 2px dashed rgb(131, 205, 196);
    }
.item-4:hover{
        transition: .4s;
        border: 2px dashed rgb(131, 205, 196);
        background-color: #fff;
        color: rgb(131, 205, 196);
    }
