@media(min-width: 769px) and (max-width: 1439px)   {

    .card-create    {
        width: 100vw;
        margin-top: 10rem;
        border-radius: 25px;
    }

    .card-announcements {
        width: 100vw;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0;
        border-radius: 25px;
    }

    .btn-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bottom  {
        margin-bottom: 10px;
    }

    .mt-announce    {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }

    .categories-container   {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: .5rem;
    }

    .categories-items   {
        width: 140px;
        height: 70px;
        margin-top: 20px;
    }

    .card-btn   {
        font-size: 18px;
        padding: 20px;
        width: 220px;
        margin-top: 30px;
    }
    
    .back-button{
        width: 15%;
        margin-top: 13%;
    }
    .show-announcement{
        margin-bottom: 5%;
    }
}
