.section-split input[type=text],
.section-split input[type=email],
.section-split input[type=number],
.section-split input[type=file],
.section-split select,
.section-split textarea,
.section-split input[type=password] {
   display: block;
   text-align: center;
   width: 100%;
   height: 40px;
   border: 0;
   background: transparent;
   border-bottom: 1px solid var(--grigio);
   outline: 0;
   margin-top: 10px;
}

.large  {
    padding: 15px 50px;
}

.fz-large   {
    font-size: 70px;
}

.card-registration,
.card-create,
.card-announcements  {
    width: auto;
    height: auto;
    padding: 0 40px;
    border-radius: 25px 75px 25px 75px;
    background-color: var(--bianco);
    box-shadow: 11px 11px 31px -7px var(--dark-shadow);
    border-left: 2px solid var(--arancio);
}

.card-create  {
    border-radius: 25px 0 0 25px;
}

.card-announcements {
    border-radius: 0 25px 25px 0;
    border-left: none;
    border-right: 2px solid var(--arancio);
    width: 49.5rem;
    margin-left: 2rem;
}

.text-body-tertiary {
    font-size: 14px;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.btn-container  {
    margin-left: 25px;
}

.bottom  {
    margin-bottom: 10px;
}
