@media(min-width:769px) and (max-width:992px)   {

    .navbar-nav {
        align-items: center;
    }

    .btn-add    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .freatures-content  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }



    .search-input input[type=text]  {
        width: 550px;
    }

    .select-categories select   {
        width: 550px;
    }

    .user-announcements--container  {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .announcements-container    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-card--container     {
        border-right: none;
        width: 500px;
    }

    .announcements-container    {
        padding: 0;
    }
}
