.dropdown-menu{
    --bs-dropdown-min-width: 5rem;
}

.img-logo   {
    width: 180px;
    height: auto;
    margin: 10px 0px 10px 50px;
}

.img-logo-register  {
    width: 220px;
    height: auto;
}

.btn-add{
    border: 1px solid var(--azzuro);
}
.btn-add:hover{
        transition: .2s;
        border: 1px solid var(--bianco);
}

.btn-containers {
    display: flex;
}

.nav-text   {
    font-size: 18px;
    font-weight: 400;
    color: var(--bianco);
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-text:hover {
    color: var(--bianco);
}

.revisor-icon   {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.revisor-icon span  {
    color: var(--bianco);
    font-weight: 400;
    font-size: 10px;
    padding-bottom: 18px;
    margin-left: -5px;
}

.revisor-text   {
    display: none;
}

.flag-container {
    padding: 10px;
}

.dropdown-menu li   {
    display: flex;
    align-items: center;
    padding: 15px 20px 0px 20px;
}

.user-container {
    margin-left: 10px;
}

.user-icon  {
    font-size: 16px;
}

.user-content   {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: var(--blu);
    font-weight: 600;
}

.username   {
    color: var(--blu);
    border-bottom: 1px solid var(--blu);
}

.username:hover   {
    color: var(--blu);
}

.annunci-route a  {
    text-decoration: none;
    color: var(--blu);
}

.btn-esc    {
    color: var(--blu);
}

.margin-top {
    margin-top: 1px;
}
