.dropdown-menu{
    --bs-dropdown-min-width: 5rem;
}

.img-logo   {
    width: 150px;
    height: auto;
}

.img-logo-register  {
    width: 220px;
    height: auto;
}

.btn-add{
    border: 1px solid var(--azzuro);
    border-radius: 10px;
}
.btn-add:hover{
        transition: .2s;
        border: 1px solid var(--bianco);
}

.nav-text   {
    font-size: 19px;
    font-weight: 400;
    color: var(--bianco);
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    margin-right: 5px;
}

.nav-text:hover {
    color: var(--bianco);
}

.revisor-icon   {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.revisor-icon span  {
    font-size: 12px;
    padding-bottom: 25px;
    margin-left: -10px;
}

.revisor-text   {
    display: none;
}
