.back-button{
    width:10% ;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
}
.carousel-inner{
    box-shadow: 0px 10px 20px -7px var(--shadow);
}
.carousel-item img{
    width: 100%;
    border-radius: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color:  var(--blu);
    border-radius: 5px;
}
.title-announcement{
    font-weight:700;
    color: var(--blu);
}
.col-5 .last-update{
    font-size: 14px;
    font-weight: 400;
    color: var(--shadow);
}
.col-5 .price{
    color: var(--arancio);
    font-weight: 700;
    font-size: 20px;
}
.col-5 .category{
    color: var(--shadow);
    font-weight: 700;
    font-size: 18px;
}
.col-5 h4{
    font-weight: 700;
    font-size: 18px;
    color: var(--blu);
}
.col-5 hr{
    margin-top: 5%;
}

.img-preview{
    height: 200px ;
    width: 200px;
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
}
.announcement-desc{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -7px var(--shadow);
}